
body {
    font-family: "Gill Sans MT";
    font-size: medium;
    color:#26532B;
    background: #5ABCB9;
}
a {
    text-decoration: none;
    color: #63E2C6;
}

a:visited {
    text-decoration: none;
    color: #6EF9F5;
}

a:hover{
    text-decoration: none;
    color: #6EF9F5;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    width: 100%;
    height: 64px; /* set the height for the header */
    display: block;
}
.wrapper{
    flex-flow: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 100%;
    height: 64px; /* set the height for the footer */
    background: #399E5A;
    padding: 15px;
}

#sitetitle{
    float: left;
    width: 50%;
}

#logo{
    float: right;
    width: 20%;
}

.userbar{
    height: 50px;
    width: 100%;
    background: #399E5A;
    padding: 15px;
}

#content{
    width: 100%;
    display: block;
    float: left;
    min-height: 300px;
    padding: 15px;
}
.content {
    width: 100%;
    display: block;
    float: left;
    min-height: 300px;
    padding: 15px;
}

.category_list {
    border: none; /* remove default border */
    box-shadow:
            inset 0 0 0 1px rgba(255, 255, 255, 0.4), /* top highlight */
            inset 0 1px 1px rgba(0, 0, 0, 0.15), /* top inner shadow */
            inset 0 -1px 1px rgba(0, 0, 0, 0.15), /* bottom inner shadow */
            0 1px 0 rgba(255, 255, 255, 0.5), /* top outer highlight */
            0 -1px 0 rgba(0, 0, 0, 0.5); /* bottom outer shadow */
}

.entryForm {

}

.panel {

}
/* MESSAGE FORMATTING */
.messages{
    display: block;
    float: left;
    width: 100%

}
.message {
    border: none; /* remove default border */
    box-shadow:
            inset 0 0 0 1px rgba(255, 255, 255, 0.4), /* top highlight */
            inset 0 1px 1px rgba(0, 0, 0, 0.15), /* top inner shadow */
            inset 0 -1px 1px rgba(0, 0, 0, 0.15), /* bottom inner shadow */
            0 1px 0 rgba(255, 255, 255, 0.5), /* top outer highlight */
            0 -1px 0 rgba(0, 0, 0, 0.5); /* bottom outer shadow */
    display: block;
    float: left;
    width: 100%;
    margin: 5px;
}

.msg_head {
    margin: 5px;
    display: block;
    float: left;
    width: 100%;
}

.msg_title {
    font-weight: bold;
    font-size: larger;
    width: 100%;
}
.msg_author {
    width: 30%;
    float: left;
}
.msg_date {
    width: 30%;
    float:left;
}
.msg_body {
    border: none; /* remove default border */
    box-shadow:
            inset 0 0 0 1px rgba(255, 255, 255, 0.4), /* top highlight */
            inset 0 1px 1px rgba(0, 0, 0, 0.15), /* top inner shadow */
            inset 0 -1px 1px rgba(0, 0, 0, 0.15), /* bottom inner shadow */
            0 1px 0 rgba(255, 255, 255, 0.5), /* top outer highlight */
            0 -1px 0 rgba(0, 0, 0, 0.5); /* bottom outer shadow */
    background: #f2f2f2;
    margin: 10px;
    float: left;
    width: 85%;
}

.msg_links{
    margin: 5px;
}
.msg_links a{
    margin: 10px;
}

